<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
</head>
<body>
  <h1>Welcome,!</h1>
  <h3>Your Selected Screens:</h3>
  <ul>
  
  </ul>
  <a href="/register">Register Another User</a>
</body>
</html>
                                     